<head>
    <title>Squinterest</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <!-- My own CSS AND JS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MASONRY.JS -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light myNav">
  <div class="container navContainer"> 
   
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a class="navbar-brand" href="#"><img src="/assets/glasses.png" class="logo"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my">My Squints</a>
      </li>
      <li class="nav-item dropdown">
       
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add a Squint</a>
        <div class="dropdown-menu addPicDropdown">
        <form method="post" action="add" enctype="application/x-www-form-urlencoded"> 
            <div class="container addPicInput">

                <input type="url" class="form-control" name="picurl" placeholder="Pic Url.." required>
                <input type="text" class="form-control" name="picdesc" placeholder="Pic Description.." required>

              <button type="submit" class="btn btn-primary btn-block btn-sm">Send</button>
            </div>
        </form>
        </div>
      </li>
    </ul>
    <ul class="nav justify-content-end">
    {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}    
      <li class="nav-item">
        <a class="nav-link" href="/auth/twitter"><i class="fa fa-twitter"></i>Login</a>
      </li>         
    {{/if}}
    </ul>
  </div>
</nav>

{{{body}}}

<script src="/js/main.js"></script>

</body>