<head>
    <title>Squinterest</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <!-- My own CSS AND JS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light myNav">
  <div class="container navContainer"> 
   
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a class="navbar-brand" href="#"><img src="/assets/glasses.png" class="logo"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">All</a>
      </li>
    {{#if user}} 
      <li class="nav-item">
        <a class="nav-link" href="/">My Squints</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Add a Squint</a>
      </li>
    {{/if}}
    </ul>
    <ul class="nav justify-content-end">
    {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}    
      <li class="nav-item">
        <a class="nav-link" href="/auth/twitter"><i class="fa fa-twitter"></i>Login</a>
      </li>         
    {{/if}}
    </ul>
  </div>
</nav>



{{{body}}}
</body>