body {
  background-color : #DFB496 !important;
}
.logo {
  height : 30px;
}
.myNav {
  background-color : #0F7173;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
.myNav a {
  color : #EF8354;
}
.myNav a:hover {
  color : #D8A47F;
}